*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Popins', sans-serif;
}

section{
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000;
      overflow: hidden;
}

ul{
      position: relative;
      display: flex;
      flex-direction: column;
}

ul li{
      list-style: none;
}

ul li a{
      position: relative;
      display: block;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 4em;
      font-weight: 700;
      transition: 0.5s;
      transition-delay: 0.5s;
}

ul li a:hover{
      color:rgba(255,255,255,0.1);
}

ul li a::before{
      content: attr(data-text);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #d83bff;
      text-shadow: 0 0 10px #d83bff, 0 0 30px #d83bff,0 0 80px #d83bff;
      opacity: 0;
      transition: 0.5s;
}

ul li a:hover::before{
      opacity: 1;
      letter-spacing: 6px;
      transition-delay: 0.5s;
}