* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: aqua;
  }
  
  ::selection {
    color: #000;
    background: #fff;
  }
  
  .wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 5px;
    background: #188084;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
    color: #000000;
  }
  
  .wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  
  .wrapper form {
    margin: 40px 0 20px 0;
  }
  
  form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #11a6b4;
    color: #000000;
  }
  
  form p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
    background: #fdfdfd;
  }
  
  form input:focus {
    padding: 0 14px;
    border: 2px solid #675afe;
    background: #555;
  }
  
  form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  .drop-list .select-box {
    display: flex;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
    background: #fff;
    color: #000;
  }
  
  .select-box img {
    max-width: 21px;
  }
  
  .select-box select {
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px;
    color: #000;
  }
  
  .select-box select::-webkit-scrollbar {
    width: 8px;
  }
  
  .select-box select::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .select-box select::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }
  
  .drop-list .icon {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
    color: #fff;
  }
  
  form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
  }
  
  form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #444;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  form button:hover {
    background: #000000;
  }
  
  form button:active {
    transform: scale(0.95);
  }