*{
      box-sizing: border-box;
}

html, body{
      height: 100%;
}

@keyframes background{
      100%{
            background-size: 4000px 1000px;
      }
}

body{
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0 24px;
      background-image: url("./Wave.svg");
      background-size: 2000px 1000px;
      background-position: -500px 0;
      color:#f9f9f9;
      font-family: "Euclid Circular A", sans-serif;
      animation: background 10s linear infinite;
}

@media (width>=500px){
      body{
            padding: 0;
      }
}

.login{
      width: 90%;
      padding: 70px 30px 44px;
      border-radius: 22px;
      background: #161616;
      text-align: center;
}

@media (width>=450px){
      .login{
            width: 380px;
      }
}

.avatar{
      margin: 0 auto 16px;
      border-radius: 50%;
      background: linear-gradient(-45deg, #157ae1,#c7a1ff);
      padding: 2px;
      width: 120px;
      height: 120px;
}

.avatar img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 4px solid #161616;
}


.login h2{
      margin: 0 0 4px;
      font-size: 36px;
      font-weight: 500;
}

.login h3{
      color: rgba(255, 255, 255, 0.38);
      margin: 0 0 24px;
      font-size: 16px;
      font-weight: 500;
}

.login form{
      display: grid;
      gap: 16px;
      place-items: center;
      width: 100%;
      margin: 0;
}

.textbox{
      width: 100%;
      position: relative;
}

.textbox span{
      position: absolute;
      top: 30%;
      left: 16px;
      transform: 0 -50%;
      color: rgba(255, 255, 255, 0.38);
}

.login-form input{
      width: 100%;
      height: 60px;
      padding: 0;
      font-family: inherit;
      font-size: 16px;
      outline: none;
      border-radius: 12px;
}
.login-form button{
      width: 50%;
      height: 60px;
      padding: 0;
      font-family: inherit;
      font-size: 16px;
      outline: none;
      border-radius: 12px;
}
.login-form button:hover{
      background-color: #174572;
}

.login-form input{
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.12);
      font-size: 18px;
      padding: 0 20px 0 50px;
      color: inherit;
}

.login-form input:focus{
      border-color: #157ae1;
}


.login-form button{
      cursor: pointer;
      background:#157ae1;
      color: #f9f9f9;
      border: 0;
      font-weight: 600;
      letter-spacing: 2px;
}

.login-form a{
      color: #157ae1;
      text-decoration: none;
      font-size: 16px;
      text-align: left;
}
