body{
      background: pink;
      font-family: "roboto", sans-serif;
      color: rgb(235, 232, 232);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 100vh;
      padding: 20px;
}

.card{
      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-color: #ff3cac;
      background-image: linear-gradient(
            225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%
      );
      cursor: pointer;
      transition: all 0.5s ease-in-out;
}

.card:hover{
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card_main{
      height: 80vh;
      width: 250px;
}

.card_secondary{
      height: 49%;
      width: 600px;
}

.card_third{
      height: 49%;
      width: 600px;
      background-color: #7b1750;
      background-image: linear-gradient(
            225deg,
            #6a0c41 0%,
            #784ba0 74%,
            #0c4d7c 100%
      );
}

.card_third p{
      width: 80%;
}

.cards_secondary{
      height: 80vh;
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.card_pic{
      height: 50%;
      width: auto;
      border-radius: 50%;
      object-fit: contain;
}

.purple{
      color:#c897f2;
}

.icon{
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      width: 80%;
      font-size: 2rem;
}

.icons i{
      padding: 10px;
      border: 3px solid #c897f2;
      box-shadow: 0 0 10px #c897f2;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
}

.icons i:hover{
      transform: scale(1.2);
      box-shadow: 0 0 20px #c897f2;
      background: #c897f2;
      color: #784ba0;
}

@media(max-width: 930px){
      body{
            flex-direction: column;
            height: max-content;
      }
      .card_main{
            height: 10%;
            width: 90%;
            padding: 5px;
      }
      .cards_secondary{
            height: 10%;
            width: 90%;
            justify-content: start;
            gap: 10px;
      }
      .card_secondary{
            width: 90%;
            padding: 5px;
      }
      .card_third{
            height: max-content;
            padding-block: 20px;
      }
      .card_pic{
            height: 50%;
            width: 20%;

      }
}